n8n-workflows/workflow-a-review-routing.json
{
  "name": "Workflow A - 評論分流回覆",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual",
      "name": "手動測試觸發",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "review_id", "name": "review_id", "value": "test-review-001", "type": "string" },
            { "id": "gbp_location_id", "name": "gbp_location_id", "value": "loc-001", "type": "string" },
            { "id": "pos_store_id", "name": "pos_store_id", "value": "001", "type": "string" },
            { "id": "rating", "name": "rating", "value": 4, "type": "number" },
            { "id": "review_text", "name": "review_text", "value": "換機油很快，服務態度也不錯，下次還會來！", "type": "string" },
            { "id": "created_at", "name": "created_at", "value": "2026-04-16T10:00:00Z", "type": "string" },
            { "id": "source", "name": "source", "value": "trigger", "type": "string" }
          ]
        }
      },
      "id": "set-test-data",
      "name": "模擬評論資料",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "rating-check",
              "leftValue": "={{ $json.rating }}",
              "rightValue": 3,
              "operator": { "type": "number", "operation": "gte" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-rating",
      "name": "星等分流 ≥3★?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "rp_path", "name": "rp_path", "value": "auto", "type": "string" },
            { "id": "public_reply_status", "name": "public_reply_status", "value": "Draft", "type": "string" },
            { "id": "draft_public_reply", "name": "draft_public_reply", "value": "感謝您的評價！很高興您對我們的服務滿意，期待下次為您服務 🙏", "type": "string" },
            { "id": "updated_at", "name": "updated_at", "value": "={{ new Date().toISOString() }}", "type": "string" }
          ]
        }
      },
      "id": "auto-reply-path",
      "name": "≥3★ 自動回覆路徑",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, -100]
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "assignments": {
          "assignments": [
            { "id": "rp_path", "name": "rp_path", "value": "human", "type": "string" },
            { "id": "public_reply_status", "name": "public_reply_status", "value": "WaitingApprove", "type": "string" },
            { "id": "case_status", "name": "case_status", "value": "New", "type": "string" },
            { "id": "draft_public_reply", "name": "draft_public_reply", "value": "非常抱歉造成您不好的體驗，我們已將您的意見轉達門市主管，將盡快與您聯繫處理。", "type": "string" },
            { "id": "updated_at", "name": "updated_at", "value": "={{ new Date().toISOString() }}", "type": "string" }
          ]
        }
      },
      "id": "human-review-path",
      "name": "<3★ 人工審核路徑",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 100]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "13YMjFawviA6zS0xMAQpxiN71eKZG3D-ZmA0m6H3KdkQ", "mode": "id" },
        "sheetName": { "__rl": true, "value": "reviews_cases", "mode": "list" },
        "columns": {
          "mappingMode": "autoMapInputData"
        }
      },
      "id": "write-sheet",
      "name": "寫入 Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [880, 0]
    }
  ],
  "connections": {
    "手動測試觸發": {
      "main": [
        [{ "node": "模擬評論資料", "type": "main", "index": 0 }]
      ]
    },
    "模擬評論資料": {
      "main": [
        [{ "node": "星等分流 ≥3★?", "type": "main", "index": 0 }]
      ]
    },
    "星等分流 ≥3★?": {
      "main": [
        [{ "node": "≥3★ 自動回覆路徑", "type": "main", "index": 0 }],
        [{ "node": "<3★ 人工審核路徑", "type": "main", "index": 0 }]
      ]
    },
    "≥3★ 自動回覆路徑": {
      "main": [
        [{ "node": "寫入 Google Sheet", "type": "main", "index": 0 }]
      ]
    },
    "<3★ 人工審核路徑": {
      "main": [
        [{ "node": "寫入 Google Sheet", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
